{% extends 'layout.twig' %}

{% block title %}
    {{ 'Jean Forteroche' }}
{% endblock %}

{% block content %}

    {% set articles = request.attributes.get('articles') %}
    {% set commentDAO = request.attributes.get('commentDAO') %}

    <section id="articles-list">
        <h1>Tous les articles</h1>
        {% embed 'articles.twig' %}
        {% endembed %}
    </section>
    <aside id="info-box">
        <h4>Suivez moi</h4>
        <ul>
            <li><a href=""><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href=""><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square fa-2x"></i></a></li>
        </ul>
    </aside>

{% endblock %}