{% extends 'layout.twig' %}

{% block content %}
    {% set articles = request.attributes.get('articles') %}
    {% set commentDAO = request.attributes.get('commentDAO') %}

    <section id="articles-list">
    {% embed 'articles.twig' %}
    {% endembed %}
    </section>

{% endblock %}