{% extends 'layout.twig' %}

{% set articles = request.attributes.get('articles') %}
{% set commentDAO = request.attributes.get('commentDAO') %}
{% set messages = request.attributes.get('messages') %}

{% block title %}
   {{ 'Jean Forteroche' }}
{% endblock %}

{% block content %}
    <section id="home-page">
        {% for key, message in messages %}
            <div class="alert alert-{{ key }}">
                <span class="alert-text">{{ message[0] }}</span>
                <span class="alert-remove">x</span>
            </div>
        {% endfor %}

        <h1>Bonjour, bienvenue sur mon blog</h1>
        <div class="bg-tiret">
            <div class="tiret"></div>
            <div class="tiret"></div>
        </div>

        <aside class="social-networks">
            <div class="social-networks columns">
                <span><a href="#"><i class="fa fa-twitter-square fa-3x"></i></a></span>
                <span><a href="#"><i class="fa fa-facebook-square fa-3x"></i></a></span>
            </div>
        </aside>

        {% embed 'articles.twig' %}{% endembed %}

    </section>

{% endblock %}