{% extends 'layout.twig' %}

{% set articles = request.attributes.get('articles') %}
{% set commentDAO = request.attributes.get('commentDAO') %}

{% block title %}
   {{ 'Jean Forteroche' }}
{% endblock %}

{% block content %}

    <section id="home-page">

        {% if success %}
            <div class="alert alert-success">
                <span class="alert-text">{{ success }}</span>
                <span class="alert-remove">x</span>
            </div>
        {% elseif errors %}

        {% for error in errors %}
            <div class="alert alert-error">
                <span class="alert-text">{{ error }}</span>
                <span class="alert-remove">x</span>
            </div>
        {% endfor %}

        {% endif %}

        <h1>Bonjour, bienvenue sur mon blog</h1>
        <div class="bg-tiret">
            <div class="tiret"></div>
            <div class="tiret"></div>
        </div>

        <aside class="social-networks">
            <div class="social-networks columns">
                <span><a href="#"><i class="fa fa-twitter-square fa-3x"></i></a></span>
                <span><a href="#"><i class="fa fa-facebook-square fa-3x"></i></a></span>
            </div>
        </aside>

        {% embed 'articles.twig' %}{% endembed %}

    </section>

{% endblock %}