@font-face {
    font-family: "DIN-condensed";
    src: url('../fonts/DINCondensed-Bold.ttf')
}
body, html, ul {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
html {
    height: 100vh;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
}
header nav {
    display: flex;
    height: 90px;
    border-bottom: 1px solid #EBEBEB;
}
header nav div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: #23adc2;
}
header nav div .fa-paragraph {
    transform: scale(2.3);
    color: #FFFFFF;
    transition: 0.3s;
}
header nav .fa-bars {
    display: none;
}
header nav div i:hover {
    transform: scale(2.8);
}
header nav div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    justify-content: center;
}
header nav ul li {
    position: relative;
    font-size: 16px;
    list-style-type: none;
    padding: 0 20px;
}
header span {
    color: #AFAFAF;
    border-right: 1px solid #AFAFAF;
    padding-right: 10px;
}
#responsive-menu a {
    color: #AFAFAF;
    text-decoration: none;
    transition: 0.2s;
}
#responsive-menu a:hover {
    color: #23adc2;
}
section {
    margin: 40px auto;
    padding: 30px 0;
    width: 86%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
section .bg-tiret {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .tiret {
    display: block;
    height: 5px;
    width: 32px;
    margin-left: 10px;
    border-bottom: 1px solid #AFAFAF;
    transition: 1s;
}
.article-container {
    height: 100%;
}
#articles-list .article-container {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
}
#articles-list > h1 {
    font-weight: 600;
    text-align: center;
}
.article {
    background-color: rgba(255, 255, 255, 0.51);
    position: relative;
    box-shadow: 2px 2px 12px -1px #acacac;
    border-radius: 2px;
    padding: 10px 10px 20px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
}
#info-box {
    z-index: 2;
    position: fixed;
    background-color: #EBEBEB;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    border: 1px solid #acacac;
    width: 16%;
    top: 250px;
    right: 3.2%;
}
#info-box h4 {
    text-align: center;
}
#nav-articles {
    margin-left: 30px;
}
#nav-articles a {
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}
#nav-articles a:hover {
    color: #23adc2;
}
#nav-articles ul {
    padding-left: 12px;
}
#nav-articles li {
    margin-top: 8px;
    list-style-type: circle;
}
#social-network {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    list-style-type: none;
}
#social-network li {
    margin: 0 3px;
}
#social-network a {
    transition: .4s;
}
#social-network a:hover {
    transform: scale(1.12);
}
.article h2 a {
    text-decoration: none;
    color: #23adc2;
}
.text-red:hover {
    color: red;
}
#article-page .article h2{
    color: #23adc2;
    margin-top: 0;
}
#home-page {
    background: url("/public/img/1024px-Gray_alaska.png") no-repeat center;
}
#home-page > h1 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 300;
    color: #AFAFAF;
    animation: leftToRight 2.2s;
}
#home-page > p {
    text-align: center;
    animation: fadeIn 2.4s;
}
#home-page > p > a {
    margin-top: 30px;
    color: #AFAFAF;
    text-decoration: none;
}
#home-page > p > a:hover {
    color: #9B9B9B;
}
#home-page > p > strong, .info strong, .comments strong {
    color: #fc4c02;
}
#home-page .article:nth-child(1) {
    width:100%;
}
section article .round {
    float: left;
    margin: 5px;
    font-family: "DIN-condensed", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #23adc2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid #EBEBEB;
}
#home-page-lastComment {
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
    background-color: #fafafa;
    height: 500px;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.comment-container {
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home-page-lastComment h2 {
    font-weight: 300;
    text-align: center;
}
#home-page-contact {
    color: white;
    margin: 0;
    padding-top: 40px;
    background-color: #333;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}
#home-page-contact hr {
    width: 50%;
    border-top: 1px solid #b2b2b2;
}
#home-page-contact h3 {
    font-weight: 400;
    color: #23adc2;
    text-align: center;
}
#home-page-contact form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 68%;
}
#a-propos {

}
#a-propos h2 {
    color: #23adc2;
}
#a-propos a {
    color: #fc4c02;
}
form {
    display: flex;
    flex-direction: column;
}
form input {
    margin: 2px 0 8px 0;
    height: 18px;
}

form input[type=submit]{
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #23adc2;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 10px;
    height: 32px;
    transition: 0.2s;
}
form input[type=submit]:hover {
    background-color: #23adc9;
    box-shadow: #acacac 2px 2px 10px 0;
}

section article a:hover {
    text-decoration: underline;
}
section article .content {
    position: static;
    overflow-wrap: break-word;
    margin: 0 20px;
}
section article .content p {
    margin: 0;
}
.article > hr {
    position: relative;
    top: 4px;
    margin-left: 120px;
    border-top: 1px solid #EBEBEB;
}

.info {
    margin-top: 22px;
    margin-left: 120px;
    margin-right: 15px;
    position: relative;
    top: 10px;
    font-size: 12px;
}
.info i {
    margin-right: 2px;
    color: #23adc2;
    transform: scale(1.1);
}
.comment-response {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 116px;
}
.comment-response h3 {
    flex-basis: auto;
}
.comment-response form {
    width: 100%;
}
.comment-response textarea {
    height: 100px;
}
.comment-response input[type="submit"] {
    width: 200px;
    margin-left: auto;
}
.comments {
    position: relative;
    align-items:center;
    flex-direction: column;
}
.comments:first-child {
    display: inline-block;
}
.btn {
    width: 66px;
    text-align: center;
    padding: 6px 16px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.1s;
}
.btn:hover {
    box-shadow: #acacac 2px 2px 10px 0;
}
.btn-response {
    background-color: #23adc2;
    position: absolute;
    color: white;
    right: 3px;
    top: 15px;
}
.btn-response:hover {
    background-color: #23adc9;
}
.btn-delete {
    margin-right: 6px;
    position: absolute;
    right: 100px;
    top: 15px;
    color: #fff;
    background-color: #d9534f;
}
.btn-delete:hover {
    background-color: #e56460;
}
.btn-edit {
    border: 2px solid #fc4c02;
    color: #fc4c02;
    padding: 2px 16px;
    margin-left: 10px;
}
.btn-edit:hover {
    color: #FFF;
    background-color: #fc4c02;
}
.btn-reporting {
    color: #d9534f;
    text-decoration: none;
}
.btn-reporting:hover {
    text-decoration: underline;
}
#article-comment .reply {
    transform: translateX(-200px);
    opacity: 0;
    width: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    padding:5px;
    margin-top:10px;
    background-color: #f4f4f4;
}
#home-page-lastComment .comments {
    width: 60%;
}
#home-page-lastComment .reply {
    transform: translateY(220px);
    opacity: 0;
    width: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    padding:5px;
    margin-top:10px;
    background-color: #f4f4f4;
}
.reply h4, a {
    display: inline-block;
}
.reply h4 {
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    margin-top: 6px;
}
.reply a {
    margin-left: 5px;
    font-weight: 100;
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}
.reply > p:first-child {
    display: inline-block;
}
.reply p {
    margin: 3px 0;
    font-size: 0.9em;
}
.alert {
    display: flex;
    flex-direction: column;
    padding: 10px 46px;
    text-align: center;
    position: fixed;
    z-index: 10;
    border-radius: 4px;
    left: 50%;
    margin-left: -163px;
    top: 20px;
    background-color: rgba(4, 4, 4, 0.6);
    animation: fadeOut 1s;
}
.alert-success {
    border-bottom: 5px solid lightgreen;
}
.alert-error {
    border-bottom: 5px solid lightcoral;
}
.alert-remove {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 4px;
}
.alert-remove:hover {
    color: #FFF;
}
.alert-text {
    margin: 10px 0;
    color: #FFF;
}

.columns {
    display: flex;
    flex-direction: column;
}
.text-red {
    color: #ff3a3a;
}
.sign {
    margin: 150px 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sign form {
    width: 300px;
}
footer {
    position: relative;
    height: 220px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #222;
    color: #FFF;
    padding: 2.5rem;
    justify-content: center;
    display: flex;
}
footer li {
    list-style-type: none;
    margin-top: 3px;
}
footer * {
    margin: 0;
}
footer div h5 {
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 1rem;
}
footer div {
    margin: 0 60px;
}
footer a {
    text-decoration: none;
    color: #FFF;
}

/*
    Font awesome color
*/
.fa-facebook-square {
    color: #3b5998;
}
.fa-twitter-square {
    color: #1da1f2
}
.fa-google-plus-square {
    color: #dd4b39;
}
.fa-linkedin-square {
    color: #0077b5;
}
@media screen and (max-width: 980px) {
    header span {
        border: none;
        padding: 0;
        margin: 0;
    }
    header nav ul {
        display: none;
    }
    header nav .fa-bars {
        display: block;
        position: absolute;
        top: 30px;
        right: 5%;
        color: #000;
    }
    #responsive-menu {
        margin: 0;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        background-color: #555;
    }

    #responsive-menu a {
        color: #FFF;
        text-decoration: none;
    }
    #responsive-menu span {
        color: #00a65a;
    }
    #articles-list .article-container {
        width: 100%;
    }
    #info-box {
        display: none;
    }
    header nav ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    header nav ul li {
        text-align: center;
        border-bottom: 1px solid;
        width: 100%;
        padding: 0;
    }
    .article {
        width: 100%;
        margin: 0 0 15px 0;
        padding: 0;
    }
    .article h2 {
        margin: 15px 20px;
    }

    hr {
        display: none;
    }
    section article .round {
        display: none;
    }
    section article .info {
        display: none;
    }
    .reply i {
        display: none;
    }
    .comment-response {
        margin: 0;
    }
    .btn-response {
        padding: 4px 4px;
        top: 4px;
        right:2px;
    }
    .btn-delete {
        padding: 4px 4px;
        margin: 0;
        top: 30px;
        right: 2px;
    }
    footer div {
        margin: 0 20px;
    }
}
@media screen and (max-width: 520px) {
    .btn-edit {
        width: 38px;
        padding: 1px 6px;
    }
    footer div {
        margin: 0 8px;
    }
}   
@keyframes leftToRight {
    from {
        transform: translateX(-150px);
        opacity: 0;
    } to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 0.2;
        transform: translateY(-60px);
    }
    to   {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}