body, html, ul {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

/*header .bg-header {
    height: 470px;
    width: 100%;
    background-image: url('../img/ipad-tablet-and-macbook-laptop-workspace-from-above-picjumbo-com.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/
header nav {
    display: flex;
    height: 70px;
    border-bottom: 1px solid #EBEBEB;
}
header nav div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #3c8dbc;
}
header nav div i {
    transform: scale(2.3);
    color: #FFFFFF;
    transition: 0.3s;
}
header nav div i:hover {
    transform: scale(2.8);
}
header nav div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    justify-content: center;
}
header nav ul li {
    position: relative;
    font-size: 16px;
    list-style-type: none;
    padding: 0 20px;
}
header span {
    color: #AFAFAF;
    border-right: 1px solid #AFAFAF;
    padding-right: 10px;
}
header nav ul li a {
    color: #AFAFAF;
    text-decoration: none;
    transition: 0.2s;
}
header nav ul a:hover {
    color: #3c8dbc;
}
header nav ul img {
    position: absolute;
    top: 360px;
}
section {
    margin: 40px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
section > h1 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 300;
    color: #AFAFAF;
    animation: leftToRight 2.2s;
}
section .bg-tiret {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .tiret {
    display: block;
    height: 5px;
    width: 32px;
    margin-left: 10px;
    border-bottom: 1px solid #AFAFAF;
    transition: 1s;
}
.article-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#articles-list .article, #home-page .article {
    height: 230px;
}
.article {
    position: relative;
    border: 3px outset rgba(60, 141, 188, 0.26);
    box-shadow: 3px 3px 20px 1px #E8E8E8;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    flex-grow: 1;
    font-size: 1rem;
    width: 44%;
    overflow: hidden;
}
.article h2 a {
    text-decoration: none;
    color: #3c8dbc;
}
#article-page .article h2{
    margin-top: 0;
}
#home-page .article:nth-child(1) {
    width:100%;
}
section article .round {
    float: left;
    margin: 5px;
    font-family: "DIN Condensed";
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #3c8dbc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid #EBEBEB;
}
#home-page-lastComment {
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
    background-color: #fafafa;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
}
.comment-container {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home-page-lastComment h2 {
    color: #222;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
form input {
    margin: 2px 0 8px 0;
    height: 18px;
}
form textarea {
    border-color: black;
    box-shadow: inset 0 0 4px 1px rgba(0,0,0,.2);;
}
form input[type=submit]{
    box-shadow: #999 2px 2px 10px -1px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #3c8dbc;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 10px;
    height: 32px;
    transition: 0.2s;
}
form input[type=submit]:hover {
    background-color: #449bce;
    box-shadow: #0f0F0F 2px 2px 10px 0;
}

section article a:hover {
    text-decoration: underline;
}
section article .content {
    position: static;
    overflow-wrap: break-word;
    margin: 0 20px;
}
section article .content p {
    margin: 0;
}
.article > hr {
    position: relative;
    top: 4px;
    margin-left: 120px;
    border-top: 1px solid #EBEBEB;
}

.info {
    margin-top: 22px;
    margin-left: 120px;
    margin-right: 15px;
    position: relative;
    top: 10px;
    font-size: 12px;
}
.info i {
    margin-right: 2px;
    color: #3c8dbc;
    transform: scale(1.1);
}
.comment-response {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 116px;
}
.comment-response h3 {
    flex-basis: auto;
}
.comment-response form {
    width: 100%;
}
.comment-response textarea {
    height: 100px;
}
.comment-response input[type="submit"] {
    width: 200px;
    margin-left: auto;
}
.comments {
    position: relative;
    align-items:center;
    flex-direction: column;
}
.btn {
    width: 66px;
    text-align: center;
    box-shadow: #999 2px 2px 10px -1px;
    padding: 6px 16px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.2s;
}
.btn:hover {
    box-shadow: #0f0F0F 2px 2px 10px 0;
}
.btn-response {
    background-color: #3c8dbc;
    position: absolute;
    color: white;
    right: 3px;
    top: 20px;
}
.btn-response:hover {
    background-color: #449bce;
}
.btn-delete {
    margin-right: 6px;
    position: absolute;
    right: 100px;
    top: 20px;
    color: #fff;
    background-color: #d9534f;
}
.btn-delete:hover {
    background-color: #e56460;
}
.btn-edit {
    background-color: #222;
    color: white;
    padding: 2px 16px;
    margin-left: 10px;
}
.btn-edit:hover {
    background-color: #555;
}
#article-comment .reply {
    transform: translateX(-200px);
    opacity: 0;
    width: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    padding:5px;
    margin-top:10px;
    background-color: #f4f4f4;
}
#home-page-lastComment .reply {
    transform: translateY(200px);
    opacity: 0;
    width: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    padding:5px;
    margin-top:10px;
    background-color: #f4f4f4;
}
.reply h4, a {
    display: inline-block;
}
.reply h4 {
    font-family: "Fira Code";
    font-weight: 500;
    margin-top: 6px;
}
.reply a {
    margin-left: 5px;
    font-weight: 100;
    font-family: Verdana;
    font-size: 0.8em;
}
.reply p {
    margin: 3px 0;
    font-size: 0.9em;
}
.alert {
    height: 50px;
    padding: 10px 46px;
    text-align: center;
    position: fixed;
    z-index: 10;
    border-radius: 4px;
    left: 50%;
    margin-left: -163px;
    top: 20px;
    background-color: rgba(4, 4, 4, 0.6);
    animation: fadeOut 1s;
}
.alert-success {
    border-bottom: 5px solid lightgreen;
}
.alert-error {
    border-bottom: 5px solid lightcoral;
}
.alert-remove {
    cursor: pointer;
    position: relative;
    top: -13px;
    right: -44px;
}
.alert-remove:hover {
    color: #FFF;
}
.alert-text {
    color: #FFF;
}

.columns {
    display: flex;
    flex-direction: column;
}
.text-red {
    color: #ff3a3a;
}
.sign {
    margin: 150px 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sign form {
    width: 300px;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #222;
    color: #FFF;
    display: flex;
    justify-content: center;
}
footer li {
    list-style-type: none;
}
footer a {
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width: 780px) {
    header nav ul{
        display: flex;
        flex-direction: column;
    }
    .article h2 a {
        margin: 0 20px;
    }
    hr {
        display: none;
    }
    section article .round {
        display: none;
    }
    section article .info {
        display: none;
    }
    .reply i {
        display: none;
    }
    .comment-response {
        margin: 0;
    }
    .btn-response {
        top: 20px;
        right:0;
    }
    .btn-delete {
        margin: 0;
        top: 48px;
        right: 0;
    }
}
@media screen and (max-width: 520px) {
    #articles-list .article, #home-page .article {
        height: 280px;
    }
    .reply p {
        margin-top: 20px;
    }
    .btn {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .btn-response {
        top: 20px;
        right:0;
        padding: 1px 9px;
    }
    .btn-delete {
        margin: 0;
        top: 42px;
        right: 0;
        padding: 1px 9px;
    }
    .btn-edit {
        width: 38px;
        padding: 1px 6px;
    }
}   
@keyframes leftToRight {
    from {
        transform: translateX(-150px);
        opacity: 0;
    } to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 0.2;
        transform: translateY(-60px);
    }
    to   {
        opacity: 1;
        transform: translateY(0px);
    }
}