<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/public/dist/app.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
        <header>
            <nav>
                <div>
                    <i class="fa fa-paragraph" aria-hidden="true"></i>
                </div>
                <div id="responsive-menu">
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/articles">Articles</a></li>
                    </ul>
                    {% set session = request.getSession() %}
                    {% set user = session.get('user') %}
                    {% if not session.get('user') %}
                        <ul>
                            <li><a href="/inscription">Inscription</a></li>
                            <li><a href="/connexion">Connexion</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li><span>Bonjour {{ user.getPseudo() }}</span></li>
                            <li><a href="/deconnexion">Deconnexion</a></li>
                        </ul>
                    {% endif %}
                </div>
                <a href="">
                    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                </a>

            </nav>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <div>
                <h5>Plan du site</h5>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/inscription">Inscription</a></li>
                    <li><a href="/connexion">connexion</a></li>
                </ul>
            </div>
            {% if user.getRole() == 'administrateur'%}
                <div>
                    <h5>Aller vers</h5>
                    <a href="/admin">Administration</a>
                </div>
            {% endif %}
            <div>
                <h5>Suivez moi</h5>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Google Plus</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </footer>
        {% block script %}
            <script src="/resources/views/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
            <script src="/public/dist/app.min.js"></script>
        {% endblock %}
    </body>
</html>