<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../public/css/404.css">
    <link rel="stylesheet" href="../../../public/css/app.css">
    <link rel="icon" type="image/png" href="/public/img/book-ico.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <title>Jean Forteroche</title>
</head>
<body>
    <div id="page-not-found" class="container">
        <div class="row">
            <img src="../../../public/img/404.png" alt="404 not-found">
        </div>
        <div class="row">
            <h1>Oups... Une erreur est survenue nous ne trouvons pas cette page</h1>
        </div>
        <div class="row">
             <button class="btn btn-edit"><a href="/">Revenir à la page d'accueil</a></button>
        </div>
    </div>
</body>
</html>