{% extends 'admin.layout.twig' %}
{% block content %}
    {% set messages = request.attributes.get('messages') %}
    {% for key, message in messages %}
        <div data-dismiss="alert" class="alert alert-{{ key }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="alert-text">{{ message[0] }}</span>
        </div>
    {% endfor %}
    <section class="content-header">
        <h1>
            Articles
        </h1>
    </section>

    <section class="content">
        <form action="/admin/articles" method="post" class="form-group">
            <label for="title">Titre de l'article :</label>
            <input type="text" name="title" class="form-control" style="margin-bottom: 10px" required>
            <textarea name="content"></textarea>
            <input type="hidden" name="published" value="">
            <button class="btn btn-success" style="margin-top: 10px">Publier</button>
            <button class="btn btn-primary" style="margin-top: 10px">Enregistrer</button>
        </form>
    </section>

    <script src="/public/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugin: 'a_tinymce_plugin',
            content_css : '/public/css/app.css',
            height : 280,
            themes: "modern",
            a_plugin_option: true,
            a_configuration_option: 400
        });

        $('.content .btn-success').click(function () {
            $(this).attr({
                name: 'published',
                value: 1
            })
        });

        $('.content .btn-primary').click(function () {
            $(this).attr({
                name: 'published',
                value: 0
            })
        })
    </script>
{% endblock %}
