<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://use.fontawesome.com/84658dd2ae.js"></script>
    <link rel="stylesheet" href="/public/css/app.css">
    <title>Inscription</title>
</head>

<body>
    {% for key, messages in request.getSession.getFlashbag.all() %}
        <div class="alert alert-{{ key }}">
            {% for message in messages %}
                <span class="alert-text">{{ message }}</span>
            {% endfor %}
            <span class="alert-remove">x</span>
        </div>
    {% endfor %}

    <div class="sign">
        <form id="form" action="/inscription" method="post">
            <label for="pseudo">Pseudo :</label>
            <input type="text" name="pseudo" required>
            <label for="password">Password :</label>
            <input type="password" name="password" required>
            <label for="email">Email :</label>
            <input type="email" name="email" required>
            <input type="submit" value="Valider">
        </form>
    </div>
</body>

<script src="/resources/views/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/public/js/app.js"></script>
<script >
    $(function () {

        $('#form').submit(function (e) {
            e.preventDefault();

            var dataForm = {
                email:    $(this).find('input[name=email]').val(),
                pseudo:   $(this).find('input[name=pseudo]').val(),
                password: $(this).find('input[name=password]').val()
            };

            $.ajax({
                method: "POST",
                url: '/inscription',
                data: dataForm,
                error: function () {
                    window.location.reload();
                }
            })
            .done(function () {
                window.location = '/'
            })
        })

    })
</script>